input,select,p{
    margin-bottom: 20px;
  }
input[type=url] {
    width:100%;
    padding: 5px 7px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type=url]:focus {
    background-color: lightcyan;
}
input[type=button]{
    background-color:lightcyan ;
    padding:5px;
    border-radius: 4px
}
div.LSN {
  width:100%;
  height:30%;
}

.tooltiptext {
  width: 400px;
  background-color: #74a2ed;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
 
}
textarea{
  margin: 10px 0px 20px 0px;
  width:100%
}
 