<!DOCTYPE html>
<html>
    <head>

        <title>Guided Incident Processing</title>
        <script src="lib/angular.min.js"></script>
        <script src="js/app.js"></script>
        <link href="css/style.css" rel="stylesheet" type="text/css">
        
    </head>

    <body ng-app="gip" ng-controller="myCtrl">
       
        <div>
                <h4>CUSTOMER ENVIRONMENT:</h4>
                 Lumira Version
                    <select  ng-model="selectedVersion" ng-options="version for version in versions" ng-mouseover="hint=true" ng-mouseleave="hint=false">
                    </select>&nbsp;
                    <span ng-show="hint"  class="tooltiptext">please make sure both server clients are same version</span>
                    <a  href="" >PAM link</a>
        </div>
        <br>
        <div>
                BOE Version <input type="text" ng-model="boeVersion" />
                <a  href="" >PAM link</a><br>
        </div>
        <br>
        <div>
                REST/Tomcat/WebSphere Details <input type="text" ng-model="webServerDetails"/><br>
        </div>
        <br>
        <div>
                <p >
                    Lumira Version : {{selectedVersion}} <br>
                    BOE Version    : {{boeVersion}} <br>
                    REST/Tomcat/WebSphere Details : {{webServerDetails}} <br>

                </p>
        </div>
       
    </body>
</html>